.cache
.classpath
.project
.settings
.svn
bin
data2*
lib1
lib2
main.jar
nominalize
target
test-results
testSource
trainSource
build
data/arffJson
data/lsi_models
data/svm_models
data/results*
data/filter*
data/classifier*
data/thresholds*
dictText
data(nach abgabe)
.externalToolBuilders*
consitentResults*
data(nach paper)*
hs_err*
results*
data/min100.metadata
data/tuning
data_stemmed-termes/
data_tib
svm_lvl1.jar