.cache
.classpath
.project
.settings
.svn
bin
data2*
lib1
lib2
main.jar
nominalize
target
test-results
testSource
trainSource
build
data/arffJson
data/classifier
data/filter
data/filter2
data/lsi_models
data/results2
data/svm_models
data/results